# UCD_PA Specialist Certificate in Data Analytics Essentials

## Notebook Description

This is a supporting jupyter notebook for the course assignment.

The Project Assignment How To Guide lists areas the assignment we will be assessed on.  Some of the items required have not been used in the main ML project notebook, therefore, this notebook has been used to illustrate these assignment  requirements.

**Assignment Requirements**
* **1. Real-world scenario**
  * The project should use a real-world dataset and include a reference of their source in the report (5)
  * **[See Main ML Project notebook]**
* **2. Importing data (10)**
  * Your project should make use of one or more of the following: 
    * Relational database
    * API 
    * web scraping 
    * **[Included in this notebook]**
  * Import a CSV file into a Pandas DataFrame (10)
    * **[See Main ML Project notebook]**
* **3. Analyzing data**
  * Your project should use Regex to extract a pattern in data (10) **[Included in this notebook]**
  * Replace missing values or drop duplicates (10) **[See Main ML Project notebook]**
  * Make use of iterators (5) **[Included in this notebook]**
  * Merge DataFrames (5) **[Included in this notebook]**
* **4. Python**
  * Define a custom function to create reusable code (5) **[See Main ML Project notebook]**
  * NumPy (5) **[See Main ML Project notebook]**
  * Dictionary or Lists (5) **[See Main ML Project notebook]**
* **5. Machine Learning (30)** **[See Main ML Project notebook]**
  * Predict a target variable with Supervised or Unsupervised algorithm 
  * You are free to choose any algorithm
  * Perform hyper parameter tuning or boosting , whichever is relevant to your model. If it is not relevant, justify that in your report and Python comments
* **6. Visualise**
  * Present two charts with Seaborn or Matplotlib (10) **[See Main ML Project notebook]**
* **7. Generate valuable insights** **[See Main ML Project notebook]**
  * 5 insights from the project (10)**[See Main ML Project notebook]**

## Import Require Libraries

In [3]:
import pandas as pd

# import sqlite 3 library to work with sqlite db
import sqlite3

## 2. Importing Data

### Import Data via a Relational Database

The following section demonstrates how to get data/import data from an relational db
Example db used is the northwind database  (https://github.com/jpwhite3/northwind-SQLite3)
* northwind.db file added to folder

In [5]:

# Make and open a connection to db
conn =  sqlite3.connect('DataSets/northwind.db')
# get  all customers from the customer table and  load into pandas dataframe 
customers= pd.read_sql_query("SELECT * from Customers", conn) 

# get  all order from the order table and  load into pandas dataframe
orders = pd.read_sql_query("SELECT * from Orders", conn)

# close database connection
conn.close()

# assign names to dataframes
customers.name =  'NW Customers'
orders.name =  'NW Orders'

In [13]:
# print number of shape (rows/ columns)
print(customers.shape)
# show first 5 rows of  customers dataframe
customers.head()

(93, 11)

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,Western Europe,12209,Germany,030-0074321,030-0076545
1,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,Central America,05021,Mexico,(5) 555-4729,(5) 555-3745
2,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,Central America,05023,Mexico,(5) 555-3932,None
3,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,British Isles,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
4,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,Northern Europe,S-958 22,Sweden,0921-12 34 65,0921-12 34 67

In [15]:
# print number of shape (rows/ columns)
print(orders.shape)
# show first 5 rows of  orders dataframe
orders.head()

(830, 14)

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry
0,10248,VINET,5,2016-07-04,2016-08-01,2016-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l-Abbaye,Reims,Western Europe,51100,France
1,10249,TOMSP,6,2016-07-05,2016-08-16,2016-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,Western Europe,44087,Germany
2,10250,HANAR,4,2016-07-08,2016-08-05,2016-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,South America,05454-876,Brazil
3,10251,VICTE,3,2016-07-08,2016-08-05,2016-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,Western Europe,69004,France
4,10252,SUPRD,4,2016-07-09,2016-08-06,2016-07-11,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,Western Europe,B-6000,Belgium

In [29]:
# Connect to db, join tables and import into pandas dataframe
# get all orders from orders table (order id, order date, order region == Western europe, ship city) 
# and  for each order get  company name, customer name, contact title and customer phone number from customer table

# Make and open a connection to db
conn =  sqlite3.connect('DataSets/northwind.db')

# get data from db
orders_customers = pd.read_sql_query("""
SELECT  
    OrderID, 
    Orders.OrderDate, 
    Orders.ShipRegion, 
    Orders.ShipCity, 
    Customers.CompanyName,
    Customers.ContactName,
    Customers.ContactTitle,
    Customers.Phone
FROM Orders
LEFT JOIN Customers
ON Orders.customerid = customers.customerid 
WHERE Orders.ShipRegion='Western Europe';

""", conn) 
# Close connection
conn.close()

In [30]:
print(orders_customers.shape)
orders_customers.head()

(276, 8)

,OrderID,OrderDate,ShipRegion,ShipCity,CompanyName,ContactName,ContactTitle,Phone
0,10248,2016-07-04,Western Europe,Reims,Vins et alcools Chevalier,Paul Henriot,Accounting Manager,26.47.15.10
1,10249,2016-07-05,Western Europe,Münster,Toms Spezialitäten,Karin Josephs,Marketing Manager,0251-031259
2,10251,2016-07-08,Western Europe,Lyon,Victuailles en stock,Mary Saveley,Sales Agent,78.32.54.86
3,10252,2016-07-09,Western Europe,Charleroi,Suprêmes délices,Pascale Cartrain,Accounting Manager,(071) 23 67 22 20
4,10254,2016-07-11,Western Europe,Bern,Chop-suey Chinese,Yang Wang,Owner,0452-076545

In [31]:
orders_customers.tail(10)

,OrderID,OrderDate,ShipRegion,ShipCity,CompanyName,ContactName,ContactTitle,Phone
266,11043,2018-04-22,Western Europe,Paris,Spécialités du monde,Dominique Perrier,Marketing Manager,(1) 47.55.60.10
267,11046,2018-04-23,Western Europe,Stuttgart,Die Wandernde Kuh,Rita Müller,Sales Representative,0711-020361
268,11051,2018-04-27,Western Europe,Toulouse,La maison d'Asie,Annette Roulet,Sales Manager,61.77.61.10
269,11053,2018-04-27,Western Europe,Salzburg,Piccolo und mehr,Georg Pipps,Sales Manager,6562-9722
270,11058,2018-04-29,Western Europe,Mannheim,Blauer See Delikatessen,Hanna Moos,Sales Representative,0621-08460
271,11067,2018-05-04,Western Europe,Aachen,Drachenblut Delikatessen,Sven Ottlieb,Order Administrator,0241-039123
272,11070,2018-05-05,Western Europe,Frankfurt a.M.,Lehmanns Marktstand,Renate Messner,Sales Representative,069-0245984
273,11072,2018-05-05,Western Europe,Graz,Ernst Handel,Roland Mendel,Sales Manager,7675-3425
274,11075,2018-05-06,Western Europe,Genève,Richter Supermarkt,Michael Holz,Sales Manager,0897-034214
275,11076,2018-05-06,Western Europe,Marseille,Bon app',Laurence Lebihan,Owner,91.24.45.40

### Import Data via an API
The following section demonstrates how to get data/import data from an API
* download market data from Yahoo! Finance's API (https://pypi.org/project/yfinance/)

In [ ]:
### Import Data via an API

### Import data with Webscraping
This section illustrates how import data into Pandas via webscraping
*  scrape data from https://fbref.com/en/comps/9/Premier-League-Stats